---
- name: Hardening con openscap
  hosts: all
  gather_facts: false 
  tasks:

    - name: copiar archivo remediation a local EE
      ansible.builtin.fetch:
        src: /root/rhel9_openscap_result/rhel9_remediacion{{ inventory_hostname }}.yml
        dest: /runner/project/rhel9_remediacion{{ inventory_hostname }}.yml
        flat: yes
      become: yes

    - name: Guardar el nombre del playbook para su importación
      set_fact:
        playbook_remediation: "/runner/project/rhel9_remediacion{{ inventory_hostname }}.yml"

- name: import playbook
  ansible.builtin.import_playbook: "{{ playbook_remediation }}"


    # - name: Instalacion de OpenScap scanner - security-guide - utils
    #   ansible.builtin.yum:
    #     name:
    #       - openscap
    #       - openscap-utils
    #       - scap-security-guide
    #     state: latest

    # - name: Crear subdirectorio si no existe
    #   ansible.builtin.file:
    #     path: /root/rhel9_openscap_result
    #     state: directory

    # - name: Bloque para obtención de reporte OpenScap
    #   block:
    #     - name: Creando reporte OpenScap RHEL9
    #       ansible.builtin.command: oscap xccdf eval \
    #         --profile xccdf_org.ssgproject.content_profile_cis_server_l1 \
    #         --results-arf /root/rhel9_openscap_result/rhel9_reforzamiento_{{ inventory_hostname }}.xml \
    #         --report /root/rhel9_openscap_result/rhel9_reforzamiento_{{ inventory_hostname }}.html \
    #         /usr/share/xml/scap/ssg/content/ssg-rhel9-ds.xml
    #       register: rhel_9_informe_reforzamiento
    #   rescue:
    #     - name: Alerta sobre warning en obtención de proyecto
    #       ansible.builtin.debug:
    #         msg: ""

    # - name: create bash remediation FIX SH RHEL9
    #   command: bash -c "sudo oscap xccdf generate fix --fix-type bash --profile ospp --output /root/rhel9_openscap_result/rhel9_remediacion{{ inventory_hostname }}.sh /root/rhel9_openscap_result/rhel9_reforzamiento_{{ inventory_hostname }}.xml"

    # - name: create ansible remediation FIX playbook RHEL9
    #   command: bash -c "sudo oscap xccdf generate fix --fix-type ansible --profile ospp --output /root/rhel9_openscap_result/rhel9_remediacion{{ inventory_hostname }}.yml /root/rhel9_openscap_result/rhel9_reforzamiento_{{ inventory_hostname }}.xml"

    # - name: Cambiar valor de hosts en el playbook YAML
    #   ansible.builtin.lineinfile:
    #     path: /root/rhel9_openscap_result/rhel9_remediacion{{ inventory_hostname }}.yml
    #     regexp: '^.*hosts: (.*)$'
    #     line: '- hosts: {{ inventory_hostname }}'


    # - name: validacion de directiorio de ejecución
    #   shell: ls -l *;pwd
    #   register: dir_output
    #   delegate_to: localhost

    # - name: validacion de directiorio de ejecución
    #   debug:
    #     var: dir_output